{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}


	<div class="page-top-area set-bg" data-setbg="{% static 'bootstrap/img/headers-bg/3.jpg' %}">
		<!-- <div class="breadcrumb-area">
			<a href="#">Home</a> / <span>Portfolio</span>
		</div> -->
	</div>
	<!-- Page top section end -->


	<!-- Blogs section start -->
	<section class="single-work-section sp-pad spad">
		<div class="container-fluid p-0">
			<div class="work-slider owl-carousel">
				<div class="ws-item set-bg" data-setbg="{% static 'bootstrap/img/work-slider/3.jpg' %}"></div>
				<div class="ws-item set-bg" data-setbg="{% static 'bootstrap/img/work-slider/4.jpg' %}"></div>
			</div>
			<div class="row">
				<div class="col-xl-5">
					<ul class="work-info-list">
						<li>
							<span>Client:</span>
							<h4>MR.X</h4>
						</li>
						<li>
							<span>category:</span>
							<h4> photography</h4>
						</li>
						<!-- <li>
							<span>Project timeline:</span>
							<h4>3 months</h4>
						</li>
						<li>
							<span>tags:</span>
							<h4>product, photography</h4>
						</li> -->
					</ul>
				</div>
				<div class="col-xl-6 offset-xl-1">
					<!-- <span class="sp-sub-title">Amazing studio</span> -->
					<h3 class="sp-title">We are so Creative</h3>
					<p>Integer nec bibendum lacus. Suspendisse dictum enim sit amet libero malesuada feugiat. Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id iaculis risus tempor id. Integer nec bibendum lacus. Suspendisse dictum enim sit amet libero malesuada feugiat. Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id iaculis risus tempor id.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Blogs section end -->


	<!-- Work nav section start -->
	<!-- <section class="worknav-section extra-style sp-pad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-6">
					<div class="worknav wn-prev">
						<a href="#" class="wn-thumb set-bg" data-setbg="img/recent-thumb/1.jpg"></a>
						<div class="wn-info">
							<span>Previous work</span>
							<h3>Wedding Photography</h3>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="worknav wn-next">
						<a href="#" class="wn-thumb set-bg" data-setbg="img/recent-thumb/2.jpg"></a>
						<div class="wn-info">
							<span>Letest work</span>
							<h3>Living by the sea</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- Work nav section end -->


{% endblock %}
