<nav class="navbar navbar-default">
	<div class="container-fluid">
	    <div class="navbar-header">
	      	<a class="navbar-brand" href="#">StockHub</a>
	    </div>
	    <!--<ul class="nav navbar-nav navbar-right">-->
		    <!--<li><a href="{% url 'home' %}">Home</a></li>-->
	      	<!--<li><a href="{% url 'advise' %}">Adviser</a></li>-->
		  	<!--<li><a href="{% url 'about' %}">About</a></li>-->
			<!--<li><a href="predictor.html">Predictor</a></li>-->
		  	<!--<li><a href="lastprice.html">Charts</a></li>-->
		  	<!--<li><a href="{% url 'contact' %}">Contacts</a></li>-->
		  	<!--<li><a href="login.html">Login</a></li>-->
			<!--<li><a href="{% url 'details' %}">Details</a></li>-->
			<!--<li><a href="{% url 'add' %} ">Registration</a></li>-->
	    <!--</ul>-->
  	</div>
</nav>